# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\Truc Hugo\Code\Git\g6-s2-ptut\WSPCE_PTUT_S2_2020_2021_ETU\PTUT_2020_2021_V0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
